<div class="container-fluid panel-footer">
  <div class="row">
     <div class="col-md-12">
       <p class="footer-items">
       <a href="<%= AppConfig[:public_url] %>">Catalogue Home</a> 
        | <a href="<%= I18n.t("brand.url").html_safe %>">Archives at NCBS</a>
       </p>
     </div>
  </div>
</div>
